@font-face {
    font-family: "MadeTommy-Light";
    src: url("fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf");
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "MadeTommy-Light";
    background-color: rgb(172, 198, 255);
}



header {
    background-color: rgba(255,255,255,0.2);
    background-image: url("images/wallpaper1.jpg");
    background-blend-mode: color-dodge;
    background-size: cover;
    padding-bottom: 20px;
}

.aaa {
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,0.2);
    background-image: url("images/wallpaper1.jpg");
    background-blend-mode: color-dodge;
    background-size: cover;
    margin-top: 20px;
    padding: 20px;
    color: white;
}

.footer {
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    background-image: url("images/wallpaper1.jpg");
    background-blend-mode: color-dodge;
    background-size: cover;
    margin-top: 20px;
    padding: 20px;
    color: white;
}

.nav ul {
    margin: 0;
}

li {
    display: inline-block;
    padding: .5% 5%;
}

a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.nav {
    text-align: center;
    font-size: 1.3em;
    border-bottom: 1px solid rgba(255,255,255,0.3)
}

.language {
    text-align: right;
}

.language li {
    padding: .2%
}

.nav a:hover {
    background-color: rgba(255,255,255,0.3);
}

div {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 3em;
}

.naslov {
    color: white;
    text-align: center;
}